:root {
    --main-bg-color: #ecf0f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: --main-bg-color;
}

.container-login {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: auto;
    padding: 2rem;
    border-radius: 2.5rem;
    background-color: var(--main-bg-color);
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #ffffff;
    position: absolute;
    top: 25%;
    z-index: -2;
}

.container:hover {
    z-index: 5;
}

.logo {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    /* -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite; */
}

.logo__circle {
    margin: auto;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: #E9D985;
    /* background-image: url(./assets/images/manga.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center; */
    /* 	border: 1px solid black; */
    box-shadow:
        0px 0px 2px #5F5F5F,
        0px 0px 0px 5px #ECF0F3,
        8px 8px 15px #A7AAAF,
        -8px -8px 15px #FFFFFF;
}
.img_logo{
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

/* .logo__svg {
	margin: auto;
	width: calc(6.25rem / 3);
	height: calc(6.25rem / 3);
	opacity: 0.4;
} */

.form__group {
    width: 18rem;
    margin-bottom: 2rem;
    position: relative;
}

.form__icon {
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    width: 3rem;
}

.form__icon svg {
    margin: auto;
    weight: 0.75rem;
    height: 0.75rem;
    opacity: 0.35;
}

.form__control {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 0.875rem;
    padding: 1rem;
    padding-left: 2.5rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow:
        inset 8px 8px 8px #CBCED1,
        inset -8px -8px 8px #FFFFFF;
}

.form__control:focus {
    outline: none;
    box-shadow:
        inset 8px 8px 8px #c5c5c5,
        inset -8px -8px 8px #FFFFFF;
}

.form__control:focus::placeholder {
    color: #d3d3d3;
    letter-spacing: 0.15em;
}

.form__control::placeholder {
    color: #CCCCCC;
}

.form__button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #FFFFFF;
    background-color: #BCD8C1;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow:
        3px 3px 8px #B1B1B1,
        -3px -3px 8px #FFFFFF;
}

.form__button:focus {
    outline: none;
    box-shadow:
        3px 3px 20px #B1B1B1,
        -3px -3px 20px #FFFFFF;
}

.form__button:hover {
    opacity: 0.85;
}

button {
    border: none;
}

.metal.linear {
    width: 50%;
    color: hsla(0, 0%, 20%, 1);
    text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;

    background-color: hsl(0, 0%, 90%);
    box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
        /* border */
        inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px,
        /* soft SD */
        inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,
        /* bottom SD */
        inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px,
        /* top HL */

        hsla(0, 0%, 0%, .15) 0 -5px 6px 4px,
        /* outer SD */
        hsla(0, 0%, 100%, .5) 0 5px 6px 4px;
    /* outer HL */
    transition: color .2s;
}

.linear {
    width: 50%;
    background-image:
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),

        linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 47%,
            hsl(0, 0%, 78%) 53%,
            hsl(0, 0%, 70%)100%);
}

.radial {
    position: absolute;
    top: 42%;
    outline: none;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 80px;
    background-image: -webkit-radial-gradient(50% 0%, 8% 50%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(50% 100%, 12% 50%, hsla(0, 0%, 100%, .6) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(0% 50%, 50% 7%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(100% 50%, 50% 5%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),

        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(0, 0%, 0%, .1) 3.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .2) 2.2%),

        -webkit-radial-gradient(50% 50%, 200% 50%, hsla(0, 0%, 90%, 1) 5%, hsla(0, 0%, 85%, 1) 30%, hsla(0, 0%, 60%, 1) 100%);
    z-index: 2;
}

.metal.radial:before,
.metal.radial:after {
    position: absolute;
    top: 50%;
    ;
    left: 0;
    /* position: absolute; */
    width: inherit;
    height: inherit;
    border-radius: inherit;

    /* fake conical gradients */
    background-image: -webkit-radial-gradient(50% 0%, 10% 50%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%),
        -webkit-radial-gradient(50% 100%, 10% 50%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%),
        -webkit-radial-gradient(0% 50%, 50% 10%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%),
        -webkit-radial-gradient(100% 50%, 50% 06%, hsla(0, 0%, 0%, .1) 0%, hsla(0, 0%, 0%, 0) 100%);
}

.metal.radial:before {
    transform: rotate(65deg);
}

.metal.radial:after {
    transform: rotate(-65deg);
}

.metal.radial:active {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210, 100%, 20%, .3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px, hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, .6) 0 0 20px;
    box-shadow:
        inset hsla(210, 100%, 30%, 1) 0 0px 0px 4px,
        /* border */
        inset hsla(210, 100%, 15%, .4) 0 -1px 5px 4px,
        /* soft SD */
        inset hsla(210, 100%, 20%, .25) 0 -1px 0px 7px,
        /* bottom SD */
        inset hsla(210, 100%, 100%, .7) 0 2px 1px 7px,
        /* top HL */

        hsla(210, 100%, 75%, .8) 0 0px 3px 2px,
        /* outer SD */
        hsla(210, 50%, 40%, .25) 0 -5px 6px 4px,
        /* outer SD */
        hsla(210, 80%, 95%, 1) 0 5px 6px 4px;
    /* outer HL */
}

#eng-01 {
    font-size: 82px !important;
    position: relative;
    top: 15%;
    left: -5%;
    position: relative;
    animation: spin-reverse 2s infinite linear;
}
@keyframes spin-reverse {
    0% {
      transform: scaleX(-1) rotate(-360deg);
    }
    100% {
      transform: scaleX(-1) rotate(0deg);
    }
  }

#eng-02 {
    font-size: 50px !important;
    position: relative;
    top: -16%;
    left: -12%;
}

#eng-03 {
    font-size: 63px !important;
    position: relative;
    top: -78%;
    left: 22%;
}

#puerta-izq {
    width: 50%;
    height: 100vh;
}

#puerta-derecha {
    width: 50%;
    height: 100vh;
}